<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>News Scraper</title>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <link type="text/css" rel="stylesheet" href="/public/assets/css/materialize.min.css"  media="screen,projection"/>
  <link rel="stylesheet" href="/public/assets/css/style.css" type="text/css" />
  <script src="/public/assets/js/app.js"></script>
  <script src="/public/assets/js/materialize.min.js"></script>
  {{!-- <link rel="icon" href="/assets/images/favicon.png" /> --}}
</head>
<body>
  <header>
    <nav>
      <div class="nav-wrapper light-green darken-1">
        <a class="brand-logo center" href="/">News Scraper</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/saved">Saved Articles</a></li>
    {{{body}}}
  </main>
  <footer class="light-green lighten-2 page-footer">
    <div class="container">
      <div class="row">
        <p><span class="grey-text text-darken-3">Copyright &copy 2018</span></p>
      </div>
    </div>
  </footer>
</body>
</html>