        {{> buttons/scrape-new-block}}
      </ul>
    </div>
  </nav>
</header>
<main>
<div class="parallax-container">
  <div class="parallax"><img src="../public/assets/images/news-image.png" class="para"></div>
    <div class="row">
      <div class="container">
        <h1 class="white-text">News Scraper</h1>
        <h2 class="white-text">NPR Edition</h2>
      </div>
    </div>
  </div>
</div>
<div class="stories row">
</div>

<!-- modal2 - Scrape -->
<div id="modal2" class="modal">
  <!-- make the modal-content populate dynamically with number of new articles -->
  <div class="modal-content">
    <h4 class="scrape-results">Done</h4>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close light-blue lighten-2 waves-effect waves-light-green btn-flat">OK</a>
  </div>
</div>