<div class="container">
  <div class="jumbotron">
    <h1>News Scraper</h1>
    <h2>NPR Edition</h2>
  </div>
  <div class="row">
    <p>Gonna populate some news stories here stay tuned</p>
  </div>
</div>