        {{> buttons/scrape-new-block}}
      </ul>
    </div>
  </nav>
</header>
<main>
<div class="container">
  <div class="row">
    <h1>News Scraper</h1>
    <h2>NPR Edition</h2>
  </div>
</div>
<div class="stories row">
</div>

<!-- modal2 - Scrape -->
<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Articles added</h4>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close light-blue lighten-2 waves-effect waves-light-green btn-flat">OK</a>
  </div>
</div>