        </ul>
      </div>
    </nav>
  </header>
  <main>
<div class="parallax-container">
  <div class="parallax"><img src="../public/assets/images/news-image.png" class="para"></div>
    <div class="row">
      <div class="container">
        <h1 class="white-text">News Scraper</h1>
        <h2 class="white-text">NPR Edition</h2>
        <h3 class="white-text">Saved Articles</h3>
      </div>
    </div>
  </div>
</div>
<div class="saved-stories row">
</div>

<!-- modal1 - Notes -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="notes-header"></div>
    <div class="saved-notes"></div>
    <textarea id="note-content" placeholder="What would you like to say?"></textarea>
    <a class="add-note light-blue lighten-2 waves-effect waves-light-green btn-flat">Add Note</a>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close light-blue lighten-2 waves-effect waves-light-green btn-flat">Close</a>
  </div>
</div>