* {
  box-sizing: border-box;
}

html, body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.btn-flat {
  color: white;
}

.deleter {
  margin-left: 15px;
  cursor: pointer;
  text-align: right;
}

.parallax-container {
  height: 350px;
  background-size
}

.para {
  width: 100%;
}
